/* Computer Modern Serif */
@font-face {
  font-family: 'Computer Modern Serif';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/npm/computer-modern-web-font@1.0.0/Serif/cmunrm.woff2') format('woff2');
}
@font-face {
  font-family: 'Computer Modern Serif';
  font-style: italic;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/npm/computer-modern-web-font@1.0.0/Serif/cmunti.woff2') format('woff2');
}
@font-face {
  font-family: 'Computer Modern Serif';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/npm/computer-modern-web-font@1.0.0/Serif/cmunbx.woff2') format('woff2');
}
@font-face {
  font-family: 'Computer Modern Serif';
  font-style: italic;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/npm/computer-modern-web-font@1.0.0/Serif/cmunbi.woff2') format('woff2');
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Computer Modern Serif', Georgia, 'Times New Roman', serif;
  font-size: 15px;
}

strong {
  font-family: 'Computer Modern Serif', Georgia, 'Times New Roman', serif;
  font-size: 15px;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-family: 'Computer Modern Serif', Georgia, 'Times New Roman', serif;
  font-size: 22px;
}

.papertitle {
  font-family: 'Computer Modern Serif', Georgia, 'Times New Roman', serif;
  font-size: 15px;
  font-weight: 700;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-family: 'Computer Modern Serif', Georgia, 'Times New Roman', serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.colored-box {
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}
