{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button>
          <div class="navicon"></div>
        </button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist">
            {% if page.lang == 'zh' %}
            <a href="{{ base_path }}/cn/">{{ site.title }}</a>
            {% else %}
            <a href="{{ base_path }}/">{{ site.title }}</a>
            {% endif %}
          </li>

          {% assign navigation = site.data.navigation.main %}
          {% if page.lang == 'zh' %}
          {% assign navigation = site.data.navigation_cn.main %}
          {% endif %}

          {% for link in navigation %}
          {% if link.url contains 'http' %}
          {% assign domain = '' %}
          {% else %}
          {% assign domain = base_path %}
          {% endif %}
          <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}

          <li class="masthead__menu-item" style="white-space: nowrap;">
            {% if page.lang == 'zh' %}
            {% assign en_url = page.url | replace: '/cn/', '/' %}
            {% if page.url == '/cn/' %}{% assign en_url = '/' %}{% endif %}
            <span style="font-weight: bold; cursor: default;">中</span> / <a href="{{ base_path }}{{ en_url }}">EN</a>
            {% else %}
            {% assign cn_url = '/cn' | append: page.url %}
            {% if page.url == '/' %}{% assign cn_url = '/cn/' %}{% endif %}
            <span style="font-weight: bold; cursor: default;">EN</span> / <a href="{{ base_path }}{{ cn_url }}">中</a>
            {% endif %}
          </li>

          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true"
                title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>